.howto {
  @include outline;
  padding-top: 62px;
  padding-bottom: 1000px;
  background: url("../../img/bg-howto-people-desktop@1x.png") 10px 30px no-repeat,
    url("../../img/bg-howto-watercolor@1x.png") 0 -170px no-repeat;

}

.howto__heading {
  @include heading-h2;

  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: 370px;

  width: 298px;
}

.howto__text {
  @include text-regular;
  margin: 0;
  width: 480px;

  margin-left: auto;
  margin-right: 185px;
}

.howto__requirements {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;

  color: $black;
}

.howto__item {
  font-style: normal;
  font-weight: normal;

  font-size: 15px;
  line-height: 21px;

  color: $black;
  opacity: 0.87;
}

.howto__additional {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 15px;
  line-height: 21px;

  color: $black;
  opacity: 0.5;
}

.howto__num {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 17px;
  line-height: 29px;

  color: #ffc341;
}

@media (max-width: 1023px) {
  .howto {
    background-size: 470px auto;
    background-position-y: 100px;
  }

  .howto__heading {

    margin-top: 0;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: 100px;

    width: 298px;
  }

  .howto__text {
    width: 350px;

    margin-left: auto;
    margin-right: 47px;
  }
}



@media (max-width: 767px) {
  .howto {
    background: none;
    padding-top: 79px;
  }

  .howto__heading {
    @include heading-h2-mobile;
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }

  .howto__text {
    box-sizing: border-box;
    @include text-regular-mobile;
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .howto__requirements {
    font-size: 16px;
    line-height: 26px;
  }
}
