.journey {
  padding-top: 210px;

  min-height: 37.5vw;

  background: url("../img/bg-iwantgo-backpack-desktop@1x.png") left 140px no-repeat,
    url("../img/bg-iwantgo-girl-dekstop@1x.png") right 0 no-repeat;

  background-size: 10.76%, 59.88%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-iwantgo-backpack-desktop@2x.png"),
      url("../img/bg-iwantgo-girl-dekstop@2x.png");
  }

  @media (max-width: 1350px) {
    background-size: 10.76%, 49.88%;
  }

  @media (max-width: 1100px) {
    background-size: 10.76%, 44.5%;
    background-position-y: 140px, 50px;
  }
}

.journey__container {
  position: relative;
  padding-left: 210px;
}

.journey__heading {
  @include heading-h2;

  margin: 0;
}

.journey__text {
  @include text-big;

  margin: 0;
  margin-top: 25px;
  margin-bottom: 62px;

  width: 400px;
}

.journey__input {
  @include input-text;
  @include input-placeholder;

  box-sizing: border-box;

  padding-left: 40px;

  width: 477px;
  height: 59px;

  border: 2px solid #e3e3e3;
  border-radius: 80px;

  &:focus {
    outline: none;
    border-color: $yellow;
  }

  &:focus:invalid {
    outline: none;
  }
}

.journey__button {
  @include button-white-text;
  @include button-yellow-background;

  position: relative;
  left: -220px;

  width: 216px;
  height: 59px;

  border: none;
  border-radius: 80px;

  cursor: pointer;

  &:hover {
    @include button-yellow-background-hover;
  }

  &:active {
    outline: none;

    @include button-yellow-background-active;
  }
}

.journey__phone-error {
  position: absolute;
  bottom: -20px;
  left: 220px;

  display: none;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 13px;
  line-height: 150%;

  color: $red;
  opacity: 0.75;
}

.journey__input:focus:invalid + .journey__phone-error {
  display: block;
}


@media (max-width: 1023px) {
  .journey {
    background: url("../img/bg-iwantgo-backpack-desktop@1x.png") left 140px no-repeat,
      url("../img/bg-iwantgo-girl-dekstop@1x.png") right 180px no-repeat;
    background-size: auto, 500px auto;
    padding-bottom: 100px;
  }

  .journey__container {
    //@include outline(blue);
    /*
    box-sizing: border-box;

    max-width: 1206px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 50px;*/

    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .journey {
    padding-top: 36px;
    min-height: calc(100vw + 200px);

    background: url("../img/bg-iwantgo-backpack-mobile@1x.png") 0 0 no-repeat,
      url("../img/bg-iwantgo-girl-mobile@1x.png") 0 327px no-repeat;
    background-size: 100px, contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-iwantgo-backpack-mobile@2x.png"),
        url("../img/bg-iwantgo-girl-mobile@2x.png");
    }
  }

  .journey__container {
    padding: 0;

    max-width: auto;
  }


  .journey__phone-error {
    position: absolute;
    bottom: -20px;
    left: 45%;


    display: none;

    font-family: "Fira Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;

    font-size: 13px;
    line-height: 150%;

    color: $red;
    opacity: 0.75;
  }

  .journey__heading {
    @include heading-h2-mobile;

    margin-bottom: 25px;

    text-align: center;
  }

  .journey__text {
    @include text-big-mobile;

    margin: 0;
    margin-bottom: 25px;
    padding-left: 17px;
    padding-right: 17px;

    width: auto;
  }

  .journey__input {
    display: block;

    margin: 0 auto;
    margin-bottom: 6px;

    width: 90%;
    height: 59px;
  }

  .journey__button {
    position: static;

    display: block;

    margin: 0 auto;

    width: 83%;
    height: 59px;
  }
}
