.life-in-israel__heading {
  @include heading-h2;
  text-align: center;
  margin-bottom: 0;
}

.life-in-israel__text {
  width: 710px;

  padding: 0;
  margin: 0 auto;
  margin-top: 25px;

  text-align: right;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 17px;
  line-height: 29px;

  color: $black;
  opacity: 0.87;
}

.life-in-israel__slider-item {
  position: relative;
}

.life-in-israel__slide-text {
  position: absolute;
  @include heading-h4;
  color: $white;
  bottom: 33px;
  left: 25px;
  width: 80%;
}
/*
.life-in-israel img {
  width: 100%;
  height: auto;
}


.life-in-israel__slider {
  position: relative;
  max-width: 84.77%;
  margin: 0 auto;
  top: -21px;

  display: grid;
  grid-template-rows: 4.91% 43.44% 43.44%;
  grid-template-columns: 41.62% 18.22% 15.88% 19.86%;
  column-gap: 15px;
  row-gap: 30px;
}

.life-in-israel__slider-item--excursion {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.life-in-israel__slider-item--language {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.life-in-israel__slider-item--skills {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  padding-left: 15px;
}

.life-in-israel__slider-item--projects {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.life-in-israel__slider-item--leadership {
  grid-column-start: 4;
  grid-row-start: 3;
  padding-left: 15px;
}
*/
@media (max-width: 767px) {
  .life-in-israel__heading {
    @include heading-h2-mobile;
  }

  .life-in-israel__slide-text {
    @include heading-h4-mobile;
    text-align: center;
    width: 75%;
    left: 35px;
    bottom: 30px;
  }

  .life-in-israel__text {
    @include text-big-mobile;
    margin-left: 0;
    text-align: left;
    width: 88%;
    padding-left: 15px;

  }

  .life-in-israel__slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    margin-top: 25px;
    @include outline(red);
    display: flex;
    overflow: hidden;
  }

  .life-in-israel__slider-item {
    @include outline(green);
    width: 100%;
  }

  .life-in-israel__slider-item img{
    width: 100%;
  }

  .life-in-israel__selectors {
    text-align: center;
}

.life-in-israel__selector{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.life-in-israel__selector:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
}
