.life-in-israel {
  padding-bottom: 137px;

  background: url("../img/bg-life-watercolor@1x.png") 0 -45px no-repeat,
    url("../img/bg-life-watch@1x.png") right 72% no-repeat;

  background-size: 100%, 6.58%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-life-watercolor@2x.png"),
      url("../img/bg-life-watch@2x.png");
  }
}

.life-in-israel__heading {
  @include heading-h2;

  margin-bottom: 0;

  text-align: center;
}

.life-in-israel__text {
  width: 750px;

  margin: 0 auto;
  margin-top: 24px;
  padding: 0;
  padding-right: 52px;

  text-align: right;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 17px;
  line-height: 29px;

  color: $black;
  opacity: 0.87;
}

.life-in-israel__slider-item {
  position: relative;
}

.life-in-israel__slide-text {
  @include heading-h4;

  position: absolute;
  bottom: 10%;
  left: 25px;

  width: 80%;

  color: $white;
}

.life-in-israel__slider-item--excursion .life-in-israel__slide-text {
  bottom: 5%;
  left: 40px;
}

.life-in-israel__slider-item--skills .life-in-israel__slide-text {
  left: 45px;
}

.life-in-israel__slider-item--projects .life-in-israel__slide-text {
  left: 33px;
  width: 90%;
}

.life-in-israel__slider-item--leadership .life-in-israel__slide-text {
  left: 40px;
}

.life-in-israel img {
  width: 100%;
  height: auto;
}

.life-in-israel__slider {
  position: relative;
  top: -21px;

  margin: 0 auto;

  max-width: 84.77%;

  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 318px 30px 318px;
  -ms-grid-columns: 42.5% 2% 18.5% 2% 14.5% 20%;
  column-gap: 15px;
  row-gap: 30px;
  grid-template-rows: 4.91% 43.44% 43.44%;
  grid-template-columns: 41.62% 18.22% 15.88% 19.86%;
}

.life-in-israel__selectors {
  display: none;
}

.life-in-israel__slider-item--excursion {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.life-in-israel__slider-item--language {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.life-in-israel__slider-item--skills {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  -ms-grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;

  padding-left: 15px;
}

.life-in-israel__slider-item--projects {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  -ms-grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.life-in-israel__slider-item--leadership {
  -ms-grid-column: 6;
  -ms-grid-row: 4;
  grid-column-start: 4;
  grid-row-start: 3;

  padding-left: 15px;
}

@media (max-width: 1023px) {
  .life-in-israel__slide-text {
    font-size: 16px;
  }

  .life-in-israel__text {
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .life-in-israel {
    background: none;
    padding-bottom: 0;
  }

  .life-in-israel__heading {
    @include heading-h2-mobile;
  }

  .life-in-israel__slide-text {
    @include heading-h4-mobile;
    text-align: center;
    width: 75%;
    left: 35px;
    bottom: 30px;
  }

  .life-in-israel__slider-item--excursion .life-in-israel__slide-text {
    bottom: 6%;
    left: 36px;
  }

  .life-in-israel__text {
    @include text-big-mobile;

    margin-left: 0;
    padding-left: 15px;
    padding-right: 0;

    width: 88%;

    text-align: left;
  }

  .life-in-israel__slider {
    position: relative;
    top: 0;

    display: flex;

    overflow: hidden;

    margin: auto;
    margin-top: 25px;

    max-width: 90%;
  }

  .life-in-israel__slider-item {
    flex-shrink: 0;
    width: 100%;
  }

  .life-in-israel__slider-item img {
    display: block;

    width: 100%;
    height: auto;
  }

  .life-in-israel__selectors {
    display: block;

    margin-top: 6px;

    text-align: center;
  }

  .life-in-israel__selector {
    display: inline-block;
    vertical-align: middle;

    margin: 0 2px;

    height: 6px;
    width: 6px;

    background-color: #dddddd;
    border-radius: 50%;

    cursor: pointer;
  }

  .life-in-israel__selector--active {
    height: 8px;
    width: 8px;

    background-color: #ffd701;
  }
}
