.modal-callback {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 123px;

  width: 100%;
  height: 100%;

  background-color: rgba(235, 235, 235, 0.9);
  z-index: 5;
}

.modal-callback__container {
  position: relative;

  box-sizing: border-box;

  padding-left: 48px;
  padding-top: 56px;
  margin: 0 auto;

  width: 480px;
  min-height: 521px;

  background-color: $white;

  border-radius: 8px;

  box-shadow: 0 11px 24px -14px #484848;
}

.modal-callback__heading {
  @include list-reset;
  @include heading-h3;
}

.modal-callback__text {
  @include text-regular;

  padding-right: 80px;
  margin-top: 18px;
  margin-bottom: 33px;
}


.modal-callback__input {
  @include input-text;

  box-sizing: border-box;

  display: block;

  padding-left: 38px;
  margin-bottom: 9px;

  width: 360px;
  height: 59px;

  border: 2px solid #e3e3e3;
  border-radius: 80px;

  &:focus {
    outline: none;
    border-color: $yellow;
  }

  &:focus:invalid {
    outline: none;
    border-color: $red;
  }
}

.modal-callback__button {
  @include button-white-text;
  @include button-yellow-background;

  display: block;

  margin-top: 22px;
  margin-left: 60px;

  width: 264px;
  height: 59px;

  border: none;
  border-radius: 80px;

  cursor: pointer;

  &:hover {
    @include button-yellow-background-hover;
  }

  &:active {
    outline: none;

    @include button-yellow-background-active;
  }
}

.modal-callback__phone-error {
  position: absolute;
  bottom: 160px;
  left: 90px;

  display: none;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 13px;
  line-height: 150%;

  color: $red;
  opacity: 0.75;
}

.modal-callback__input--phone:focus:invalid + .modal-callback__phone-error {
  display: block;
}

.modal-callback__acceptance {
  @include text-small;

  position: relative;

  display: block;

  margin-left: 83px;
  margin-top: 17px;

  width: 240px;

  cursor: pointer;
}

.modal-callback__acceptance::before {
  position: absolute;
  content: "";
  left: -23px;
  top: 0;

  box-sizing: border-box;

  width: 16px;
  height: 16px;

  border: 2px solid $yellow;
}

.modal-callback__acceptance-cb:checked + .modal-callback__acceptance::after {
  position: absolute;
  content: "";
  left: -23px;
  top: 0;

  box-sizing: border-box;

  width: 16px;
  height: 15px;

  background: url("../img/icon-close.svg") center center no-repeat;
}

.modal-callback__close {
  position: absolute;
  right: 32px;
  top: 32px;

  box-sizing: border-box;

  width: 18px;
  height: 17px;

  border: 0;
  font-size: 0;

  cursor: pointer;

  background: url("../img/icon-close.svg") 0 0 no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

@media (max-width: 767px) {
  .modal-callback {
    padding-top: 0;
  }

  .modal-callback__container {
    padding-left: 17px;
    padding-right: 16px;

    width: 100%;
    height: 100%;
  }

  .modal-callback__heading {
    @include heading-h3-mobile;

    margin-top: 114px;
    margin-bottom: 16px;

    text-align: center;
  }

  .modal-callback__text {
    @include text-regular-mobile;

    display: block;

    margin: 0 auto;
    margin-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 88px;

    text-align: center;
  }

  .modal-callback__phone-error {
    top: 465px;
  }

  .modal-callback__input {
    width: 100%;
  }

  .modal-callback__button {
    margin: 0 auto;
    margin-top: 24px;

    width: 92%;
  }

  .modal-callback__acceptance {
    margin-left: 34px;

    width: 85%;
  }

  .modal-callback__close {
    right: 24px;
    top: 24px;
  }
}
