.programs {
  //@include outline;
  box-sizing: border-box;

  padding-top: 20px;
  padding-left: 210px;
  padding-bottom: 10px;

  background: url("../img/bg-programs-desktop@1x.png") 0 5px no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-programs-desktop@2x.png");
    background-size: 680px auto;
  }

  background-position-x: right;
}

.programs__list {
  @include list-reset;

  position: relative;

  list-style: none;
}

.programs__item {
  box-sizing: border-box;

  margin-bottom: 4px;

  height: 68px;
  width: 196px;
}

.programs__heading {
  @include heading-h2;

  margin-bottom: 67px;
}

.programs__text-regular {
  @include text-regular;
}

.programs__label {
  position: relative;

  display: block;

  box-sizing: border-box;

  padding-top: 24px;
  padding-left: 73px;

  height: inherit;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: $black;
  opacity: 0.87;
}

.programs__content {
  position: absolute;
  top: -12px;
  left: 292px;

  display: none;
}

.programs__name {
  @include heading-h3;

  margin-bottom: 24px;
}

.programs__text {
  @include text-regular;

  width: 66%;
}

.programs__label::before {
  position: absolute;
  content: "";

  background-repeat: no-repeat;
}

.programs__label--general::before {
  top: 18px;
  left: 24px;

  width: 28px;
  height: 33px;

  background-image: url("../img/icon-about-general-black.png");
}

.programs__label--academic::before {
  top: 15px;
  left: 20px;

  width: 36px;
  height: 35px;

  background-image: url("../img/icon-about-academic-black.png");

}

.programs__label--practice::before {
  top: 20px;
  left: 23px;

  width: 32px;
  height: 35px;

  background-image: url("../img/icon-about-practice-black.png");
}

.programs__label--volunteer::before {
  top: 18px;
  left: 23px;

  width: 32px;
  height: 35px;

  background-image: url("../img/icon-about-volunteer-black.png");
}

.programs__label--religion::before {
  top: 20px;
  left: 26px;

  width: 32px;
  height: 35px;

  background-image: url("../img/icon-about-religion-black.png");
}

.programs__radio:checked + .programs__label {
  position: relative;

  background: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);

  font-weight: 500;

  font-size: 16px;
  line-height: 19px;

  text-transform: lowercase;
  font-variant: small-caps;

  color: $white;

  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.programs__radio:checked + .programs__label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 100%;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 34px 0 34px 32px;
  border-color: transparent transparent transparent #ffd701;
}


.programs__radio:checked + .programs__label--general::before {
  background-image: url("../img/icon-about-general-white.png");
}

.programs__radio:checked + .programs__label--academic::before {
  top: 13px;
  left: 16px;

  width: 39px;
  height: 39px;

  background: url("../img/icon-about-academic-white.png") 0 0 no-repeat;
}

.programs__radio:checked + .programs__label--practice::before {
  background-image: url("../img/icon-about-practice-white.png");
}

.programs__radio:checked + .programs__label--volunteer::before {
  background-image: url("../img/icon-about-volunteer-white.png");
}

.programs__radio:checked + .programs__label--religion::before {
  background-image: url("../img/icon-about-religion-white.png");
}

.programs__radio:checked ~ .programs__content {
  display: block;
}

@media (max-width: 1023px) {
  .programs {
    padding-left: 50px;
  }

  .programs__text {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .programs::-webkit-scrollbar {
    display: none;
  }

  .programs__heading {
    @include heading-h2-mobile;

    margin-bottom: 16px;

    text-align: center;
  }

  .programs {
    padding: 0;
    padding-top: 4px;
    position: relative;
    background-image: url("../img/bg-programs-mobile@1x.png");

    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 120px;
    background-size: 90% auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-programs-mobile@2x.png");
      background-size: 90% auto;
    }

    width: 100%;
    min-height: 580px;

    overflow-x: hidden;
    overflow-y: visible;
  }

  .programs__list {
    display: flex;

    @include outline;
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20px;

    overflow-x: scroll;
    overflow-y: visible;
  }

  .programs__text {
    @include text-regular-mobile;

    display: block;

    width: 95%;
  }

  .programs__label {
    box-sizing: border-box;

    padding: 0;
    padding-top: 14px;
    padding-left: 52px;

    width: 105%;
    height: 48px;

    overflow: hidden;
  }

  .programs__radio:checked + .programs__label {
    background: linear-gradient(141.47deg, #ffc341 20.46%, #ffd701 65.31%);
    border-radius: 61px;
  }

  .programs__content {

    top: 130px;
    left: 15px;
    width: 95%;
  }

  .programs__name {
    @include heading-h3-mobile;

    margin-top: 35px;
    margin-bottom: 18px;
  }

  .programs__label--general::before {
    top: 8px;
    left: 15px;
  }

  .programs__label--academic::before {
    top: 5px;
    left: 8px;

    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  .programs__label--practice::before {
    top: 10px;
    left: 15px;

    width: 32px;
    height: 35px;
  }

  .programs__label--volunteer::before {
    top: 5px;
    left: 10px;

    width: 32px;
    height: 35px;
  }

  .programs__label--religion::before {
    top: 10px;
    left: 15px;

    width: 32px;
    height: 35px;
  }
}
