.promo {
  position: relative;
  width: 1366px;
  height: 906px;
  margin: 0 auto;
  //@include outline;
  background:  url("../../img/bg-main-city-desktop@1x.png") 0 0 no-repeat;
}

.promo__decorative-text {
  //@include outline(green);
  display: block;

  padding-top: 160px;
  padding-left: 10px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;

  line-height: 170%;

  letter-spacing: 0.055em;
  text-transform: uppercase;

  text-align: center;

  color: #fff;
  background-clip: text;

-webkit-text-fill-color: transparent;
}

.promo img {
  position: absolute;
  top: 0;
  left: 0;
};

/* Background */
.promo__decorative-text:before {
  background-image: none;
}


.clip-text_fifteen {
  background-image: url("../../img/bg-main-overlay-desktop@1x.jpg");
  background-position-x: 51%;
  background-position-y: 31%;
}

.promo__heading {
  width: 343px;
  text-align: center;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  top: 518px;
  left: 512px;
}

.promo__heading::before {
  content: 'Тест';
  width: 100px;
  height: 100px;
  font-size: 62px;
  position: absolute;
  background: url("../../img/");
}
