.promo {
  position: relative;

  width: 100%;
  height: 896px;

  background: url("../img/bg-main-city-desktop@1x.png") center 0 no-repeat;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-city-desktop@2x.png");
    background-size: 100% auto;
  }
}

.promo::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: inherit;

  background: url("../img/bg-main-girl-desktop@1x.png") center 0 no-repeat;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-girl-desktop@2x.png");
  }
}

.promo__decorative-text {
  display: block;

  padding-top: 160px;
  padding-left: 10px;

  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;

  font-size: 1250%;
  line-height: 170%;
  letter-spacing: 0.055em;

  overflow: hidden;

  text-transform: uppercase;
  text-align: center;

  background-clip: text;

  background-image: url("../img/bg-main-overlay-desktop@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-main-overlay-desktop@2x.jpg");
    background-size: 1001px auto;
  }

  background-position-x: 51%;
  background-position-y: 31%;

  color: transparent;
}


.promo__heading {
  position: relative;

  margin: 0 auto;
  margin-top: 40px;

  width: 343px;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: white;

  z-index: 3;
}

.promo__heading::before {
  content: "";

  position: absolute;
  left: 39%;
  top: 153%;

  width: 76px;
  height: 132px;

  background: url("../img/scroll-down.svg") 0 0 no-repeat;
}

@media (max-width: 1023px) {
  .promo__decorative-text {
    font-size: 150px;
  }
}

@media (max-width: 767px) {
  .promo {

    height: 600px;
    background: url("../img/bg-main-city-mobile@1x.png") center 0 no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-city-mobile@2x.png");
      background-size: 912px auto;
    }
  }

  .promo__decorative-text {
    margin-left: -14px;
    padding: 0;
    padding-top: 136px;

    font-size: 72px;
    letter-spacing: 0.01em;

    background-image: url("../img/bg-main-overlay-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-overlay-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }

  .promo::before {
    height: inherit;

    background: url("../img/bg-main-girl-mobile@1x.png") center 0 no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-main-girl-mobile@2x.png");
      background-size: 320px auto;
    }
  }

  .promo__heading {
    margin-top: 45px;

    width: 288px;

    font-size: 20px;
    line-height: 24px;
  }

  .promo__heading::before {
    left: 36%;
    top: 165%;
  }
}
