.questions {
  background: url("../img/bg-questions-photo-dekstop@1x.png") right 80px no-repeat,
    url("../img/bg-questions-bag@1x.png") 0 bottom no-repeat,
    url("../../img/bg-questions-watercolor-desktop@1x.png") left top no-repeat;
  //background-size: 47.2% cover, auto, contain;
  background-size: 47.2%, auto, cover;

  /*@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-questions-photo-dekstop@2x.png"),
      url("../img/bg-questions-bag@2x.png"),
      url("../img/bg-questions-watercolor-desktop@2x.png");
    background-size: 47.2%, 153px, 1366px;
  } */

  min-height: 65.7vw;

  padding-left: 110px;
  padding-top: 80px;
}

.questions__heading {
  @include heading-h2;
  margin: 0;
}

.questions__list {
  margin-top: 10px;

  width: 44.5%;

  list-style: none;
  padding-left: 0;
}

.questions__container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  //@include outline;
  width: 100%;
}

.questions__answer {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 15px;
  line-height: 21px;

  color: #484848;
  opacity: 0.74;
}

.questions__item {
  box-sizing: border-box;

  //@include outline;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-right: 35px;

  min-height: 96px;

  border-bottom: 1px solid rgba(72, 72, 72, 0.2);

  cursor: pointer;
}

.questions__item:hover:not(.questions__item--active) {
  opacity: 0.5;
}

.questions__expand {
  margin-left: auto;

  width: 20px;
  height: 11px;

  font-size: 0;
  border: 0;

  background: url("../img/icon-show.svg") center top no-repeat;
}

.questions__expand:focus {
  outline: none;
}

.questions__item .questions__answer {
  display: none;
}

.questions__item--active .questions__answer {
  display: block;
}

.questions__item--active .questions__expand {
  background: url("../img/icon-hide.svg") center top no-repeat;
}

.questions__number {
  margin-right: 15px;

  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 28px;
  line-height: 48px;

  color: #ffd701;
}

.questions__question {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 17px;
  line-height: 25px;
}

@media (max-width: 1024px) {
  .questions__heading {
    width: 30%;
  }

  .questions__question {
    font-size: 16px;
  }

  .questions__answer {
    font-size: 14px;
  }

  .questions__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .questions {
    background: url("../img/bg-questions-bag@1x.png") -5px 738px no-repeat;
    padding-left: 0;
    padding-bottom: 35px;
  }

  .questions__heading {
    @include heading-h2-mobile;
    margin: 0;
    padding: 0;

    text-align: center;
    width: 100%;
  }

  .questions__list {
    margin-top: 2px;
    margin-left: 16px;

    width: 90%;
  }

  .questions__item {
    box-sizing: border-box;

    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
    padding-bottom: 20px;

    min-height: 88px;
    width: 100%;
  }

  .questions__item--active {
    padding-bottom: 6px;
  }

  .questions__number {
    margin-right: 12px;
  }

  .questions__answer {
    @include text-regular-mobile;

    padding-top: 2px;
    padding-bottom: 0;
  }

  .questions__question {
    @include text-big-mobile;
    width: 80%;
  }
}
