.reviews {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;


  @include outline;

  background: url("../img/bg-reviews-watercolor-desktop@1x.png") right 0 no-repeat,
      url("../img/bg-reviews-sketch-desktop@1x.png") right 52px no-repeat;
  background-size: 92.16%, 38.28%;
}

.reviews__list {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

/*
.swiper-container-multirow > .reviews__list {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .reviews__list {
  flex-wrap: wrap;
  flex-direction: column;
}
.swiper-container-free-mode > .reviews__list {
  transition-timing-function: ease-out;
  margin: 0 auto;
} */
.reviews__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: flex;
  flex-direction: row;
}



/* a11y */
/*.reviews .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-container-fade.swiper-container-free-mode .reviews__slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .reviews__slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .reviews__slide .reviews__slide {
  pointer-events: none;
}

.swiper-container-cube .reviews__slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube .reviews__slide .reviews__slide {
  pointer-events: none;
}
.swiper-container-cube.swiper-container-rtl .reviews__slide {
  transform-origin: 100% 0;
}

.swiper-container-flip .reviews__slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
}
*/
.reviews__heading {
  @include heading-h2;

  margin-bottom: 0;

  text-align: center;
}



.reviews__list {
  @include outline(green);
  margin: 0;
  margin-top: 7px;
  margin-left: 98px;
  padding: 0;

  width: 79.35%;
  //height: 500px;
}


.reviews__item img {
  width: 26.5vw;
  height: auto;
}

.reviews__container {
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 50px;
}

.reviews__title,
.reviews__program {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;

  line-height: 21px;
}

.reviews__name {
  display: block;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;

  font-size: 24px;
  line-height: 36px;

  color: $black;
  opacity: 0.74;
}

.reviews__title {
  display: inline-block;
  vertical-align: middle;

  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 14px;

  color: #1fc0fc;
}

.reviews__program {
  color: black;
  opacity: 0.74;

  padding: 0;
  margin: 0;
}

.reviews__social-item {
  fill: #d6d6d6;

  &:hover {
    fill: #ebebeb;
  }
}

.reviews__text {
  @include text-big;
  color: black;
  opacity: 0.74;
  width: 70%;
}

.reviews__expand {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 17px;
  line-height: 25px;

  text-decoration-line: underline;

  color: #1fc0fc;

  &:hover {
    opacity: 0.5;
  }
}

.reviews__numbers {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;

  color: $black;
  opacity: 0.5;

  margin-right: 20px;
}

.reviews__button {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 18px;

  margin-top: -8px;
  font-size: 0;

  cursor: pointer;

  border: 0;
  &:hover {
    opacity: 0.5;
  }
}

.reviews__slider {
  position: absolute;
  bottom: 0;
  left: calc(28vw + 120px);

  @media(max-width: 1045px) {
    bottom: -25px;
  }
}

.reviews__socials {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 0;
  right: 185px;

  width: 104px;

  @include list-reset;
  list-style: none;

  @media(max-width: 1045px) {
    bottom: -25px;
  }
}

.reviews__button--prev {
  background: url("../img/icon-prev.svg") 0 0 no-repeat;
  margin-right: 13px;
}

.reviews__button--next {
  background: url("../img/icon-next.svg") 0 0 no-repeat;
}

@media (max-width: 1023px) {
  .reviews__list {
    margin-left: 10px;
    width: 90%;
  }

  .reviews__socials {
    bottom: -50px;
    right: 100px;
  }

  .reviews__item img {
    width: 300px;
  }

  .reviews__slider {
    bottom: -50px;
    left: 350px;
  }

  .reviews__text {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .reviews {
    padding-bottom: 22px;
  }

  .reviews__heading {
    @include heading-h2-mobile;

    margin-bottom: 26px;
  }

  .reviews__title,
  .reviews__program {
    font-family: "Fira Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;

    font-size: 14px;
    line-height: 22px;
  }

  .reviews__list {
    @include list-reset;
    //@include outline(blue);
    width: 100%;
  }

  .reviews__slide {
    display: block;

  }

  .reviews__item {
    @include list-reset;

    width: 100%;
  }

  .reviews__item--active {
    display: block;
  }

  .reviews__item img {
    display: block;

    margin: 0 auto;

    width: 75%;
    max-width: 240px;
    height: auto;
  }

  .reviews__name {
    text-align: left;
  }

  .reviews__container {
    @include list-reset;

    padding-left: 15px;
    margin-top: 56px;
  }

  .reviews__title {
    @include list-reset;

    display: block;

    margin-top: 10px;
  }

  .reviews__program {
    display: inline-block;

    @include list-reset;

    margin-bottom: 8px;

    vertical-align: middle;
  }

  .reviews__text {
    @include text-big-mobile;

    width: 95%;
  }

  .reviews__expand {
    display: inline-block;

    margin-top: 8px;

    vertical-align: middle;

    font-size: 16px;
    line-height: 24px;
  }

  .reviews__slider {
    top: 392px;
    left: calc(50.5% - 50px);
  }

  .reviews__socials {
    bottom: -25px;
    left: 3%;
  }
}
