@mixin outline($color: red) {
  outline: 4px solid $color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
}

@mixin heading-h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 28px;
  line-height: 34px;

  letter-spacing: -0.02em;

  color: $blue;
}

@mixin heading-h3-mobile {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 24px;
  line-height: 29px;

  letter-spacing: -0.02em;

  color: $blue;
}

@mixin heading-h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 40px;
  line-height: 49px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: $blue;
}

@mixin heading-h2-mobile {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 32px;
  line-height: 39px;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: $blue;
}

@mixin text-regular {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 15px;
  line-height: 26px;

  color: $black;

  opacity: 0.87;
}

@mixin text-regular-mobile {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #484848;
  opacity: 0.87;
}

@mixin text-small {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 13px;
  line-height: 150%;

  color: $black;
  opacity: 0.74;
}

@mixin text-big {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;

  color: $black;
}

@mixin text-big-mobile {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 26px;

  color: $black;
}

@mixin input-placeholder {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;

  font-size: 17px;
  line-height: 20px;

  font-variant: small-caps;
  text-transform: lowercase;

  color: $black;
  opacity: 0.5;
}

@mixin input-text {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;

  font-size: 17px;
  line-height: 20px;

  font-variant: small-caps;
  text-transform: lowercase;

  color: $black;
  opacity: 0.87;
}

@mixin button-white-text {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;

  text-transform: lowercase;
  font-variant: small-caps;

  font-size: 17px;
  line-height: 20px;

  color: $white;

  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin button-yellow-background {
  background: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
}

@mixin button-yellow-background-hover {
  background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
}

@mixin button-yellow-background-active {
  background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
}
