$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$min-mobile: 320px;
$max-mobile: 767px;
$max-tablet: 1023px;

$black: #484848;
$blue: #1FC0FC;
$white: #FFFFFF;
$yellow: #FFC341;
$red: #FF0000;
$gray: #EBEBEB
